
body {
  background: rgb(255,136,188);
  background: linear-gradient(130deg, rgba(255,136,188,1) 0%, rgba(115,180,255,1) 100%);
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: 1px 1px 2px gray;

}

#leaveComment{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: 1px 1px 2px gray;
}

p.words {
  word-wrap: normal;
} 

#commentSection {
  padding: 5%;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  border-radius: 10%;
}

#footer{
  position: fixed;
  width: 100%;
  bottom: 1px;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.459);
}
.foot-attribute{
  color: rgba(44, 44, 44, 0.61);
}
#tagline{
  position: absolute;
  top: 8px;
  right: 16px;
}