{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    #scoreHeader{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        text-shadow: 1px 1px 2px gray;
    }
</style>

{% include "base.html" %}
{% block page_content %}

<div class="w3-animate-opacity">
    <div class="col-md-8 offset-md-2">
    <h2 id = "scoreHeader"> <b>{{ score }}</b> bias detected</h2>

        <h5>Summary:</h5>
        <p> {{ summary }}</p>
        <hr>
        <h5>Article:</h5>
        <p> {{ text }}</p>
        <br>
        <br>
    </div>
</div>

{% endblock %}
{% include "footer.html" %}
