{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class = "col">
                <p class="foot-attribute">Github: https://github.com/kyle-mcintyre/NewsForYou</p>
            </div>
    
            <div class = "col">
                <p class="foot-attribute">Author: Kyle McIntyre</p>
            </div>
    
            <div class = "col">
                <p class="foot-attribute">Email: wegotsomenews4you@gmail.com</p>
            </div>
    
        </div>
    </div>
</footer>


